{{ define "main" }}
  <style>
    body {
      background-image: linear-gradient(rgba(242, 237, 232, 0.5), rgba(242, 237, 232, 0.5)), url('{{ relURL "img/pages/world.jpg" }}');
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="listMedia">
    {{ range .Pages }}
      {{ $flag := index $.Site.Data.country .LinkTitle }}
      <a class="mediaItem" href="{{ .RelPermalink }}">
        <span class="countryFlag">{{ $flag }}</span>
        <span>{{ .LinkTitle }} ({{ len .Pages }})</span>
      </a>
    {{ end }}
  </div>
{{ end }}