{{ define "main" }}
	<main>
		<article>
			{{ $baseURL := .Site.BaseURL }}
			<h1>{{ .Title }}</h1>
			<div class="artist-single-container">
				<a href="{{ "artist/" | relLangURL }}{{ .Params.artist | urlize }}/"><em class="artist-single">{{ .Params.artist }}</em></a>
			</div>
			{{ with .Params.genre }}
			<div class="artist-single-container">
				<a href="{{ "genre/" | relLangURL }}{{ . | urlize }}/"><em class="artist-single">{{ . }}</em></a>
			</div>
			{{ end }}
			{{ $related := slice }}
			{{ range .Params.related }}
				{{ if ne . "" }}
					{{ $related = $related | append . }}
				{{ end }}
			{{ end }}
			{{ if gt (len $related) 0 }}
			<div class="artist-single-container">
				<em class="artist-single">{{ range $i, $r := $related }}{{ if $i }}, {{ end }}<a href="{{ "related/" | relLangURL }}{{ $r | urlize }}/">{{ $r }}</a>{{ end }}</em>
			</div>
			{{ end }}
			<div class="artist-single-container medium-group medium-group-left">
				{{$media := .Params.media}}
				{{ range $type, $filename := .Site.Data.media }}
					{{ if (in $media $type) }}
						<a href="{{ "media/" | relLangURL }}{{ $type | urlize }}/"><img src="{{ $baseURL }}/img/{{ $filename }}"></a>
					{{ end }}
				{{ end }}
				<em class="artist-single medium-info">#{{ .Params.id }} <a href="{{ "country/" | relLangURL }}{{ .Params.country | urlize }}/">{{ index .Site.Data.country .Params.country }}</a> <a href="{{ "year/" | relLangURL }}{{ .Params.year | urlize }}/">{{ .Params.year }}</a></em>
			</div>
			<div class="listSingleGrid">
				{{ with .Params.image }}
					{{ range . }}
						<img class="listSingle" src="{{ $baseURL }}/{{ . }}" alt="" loading="lazy">
					{{ end }}
				{{ end }}
			</div>
			
			
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
