{{ define "main" }}
	<main>
		<article>
			{{ $baseURL := .Site.BaseURL }}
			<h1>{{ .Title }}</h1>
			<div class="listSingleGrid">
				{{ with .Params.image }}
					{{ range . }}
						<img class="listSingle" src="{{ $baseURL }}/{{ . }}" height="300" alt="" loading="lazy">
					{{ end }}
				{{ end }}
			</div>
			<div class="medium-group"> 
				{{$media := .Params.media}}
				{{ range $type, $filename := .Site.Data.media }}
					{{ if (in $media $type) }}
						<img src="{{ $baseURL }}/img/{{ $filename }}">	
					{{ end }}
				{{ end }}
				<em class="artist-single">#{{ .Params.id }} {{ index .Site.Data.country .Params.country }} {{ .Params.year }}</em>
			</div>
			
			<div> 
				<em class="artist-single">{{ .Params.artist }}</em>
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
