<a href="{{ .Permalink }}" class="item">
		{{ $baseURL := .Site.BaseURL }}
		<img src="{{ $baseURL }}/{{ .Params.image }}" alt="" loading="lazy">
		<div class="title">{{ .Title }}</div>
		<div class="medium-group"> 
			{{$media := .Params.media}}
			{{ range $type, $filename := .Site.Data.media }}
				{{ if (in $media $type) }}
					<img src="{{ $baseURL }}/img/{{ $filename }}">	
				{{ end }}
			{{ end }}
		</div>
		<div> 
			<em class="artist">#{{ .Params.id }} {{ index .Site.Data.country .Params.country }} {{ .Params.year }}</em>    
		</div>
		<div> 
			<em class="artist">{{ .Params.artist }}</em>
		</div>
	
</a>
