{{ define "main" }}

{{ if eq (.Title | lower) "reggae" }}
<canvas id="smoke-canvas"></canvas>
{{ $smoke := resources.Get "js/smoke.js" | minify | fingerprint }}
<script src="{{ $smoke.RelPermalink }}"></script>
{{ end }}

	<main>
		
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		
		{{ $sortedPages := (.Pages.ByParam "year").Reverse.ByParam "artist" }}
		{{ $paginator := .Paginate $sortedPages }}

		{{/* Loop for every album */}}
		
		<div class="listProduct">
		{{ range $paginator.Pages }}
		

			{{ .Render "summary" }}

		{{ end }}
		</div>

		{{/* Paginator navigation */}}
		{{ partial "pagination.html" $paginator }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
