{{ define "main" }}
	<style>
		body {
			background-image: linear-gradient(rgba(242, 237, 232, 0.5), rgba(242, 237, 232, 0.5)), url('{{ relURL "img/pages/collage.png" }}');
			background-repeat: no-repeat;
			background-position: center top;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
	<main>
		{{ $icons := dict "artist" "microphone-stage" "country" "globe" "genre" "music-notes-simple" "media" "disc" "related" "users-three" "ages" "calendar-dots" }}
		<div class="listMedia">
			{{ range $name, $taxonomy := .Site.Taxonomies }}
				{{ if ne $name "year" }}
				<a class="mediaItem" href="{{ $name | urlize }}">
					<img src="{{ relURL (printf "img/taxonomy/%s.svg" (index $icons $name)) }}" alt="">
					<span>{{ $name }} ({{ len $taxonomy }})</span>
				</a>
				{{ end }}
 			{{ end }}
			{{ with $.Site.GetPage "/ages" }}
				<a class="mediaItem" href="{{ .RelPermalink }}">
					<img src="{{ relURL (printf "img/taxonomy/%s.svg" (index $icons "ages")) }}" alt="">
					<span>ages ({{ len .Pages }})</span>
				</a>
			{{ end }}
		</div>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
