{{ define "main" }}
	<style>
		body {
			background-image: linear-gradient(rgba(242, 237, 232, 0.5), rgba(242, 237, 232, 0.5)), url('{{ relURL "img/pages/collage.png" }}');
			background-repeat: no-repeat;
			background-position: center top;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
	<main>
		<div class="listArtist">
			{{ range $name, $taxonomy := .Site.Taxonomies }}
				{{ if ne $name "year" }}
   				<a class="artist" href="{{ $name | urlize }}">{{ $name }} ({{ len $taxonomy }})</a>
				{{ end }}
 			{{ end }}
			{{ with $.Site.GetPage "/ages" }}
				<a class="artist" href="{{ .RelPermalink }}">ages ({{ len .Pages }})</a>
			{{ end }}
		</div>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
